
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<input type="button" id="weather" onclick="listdata()"/>
<div id="div1" style="height:20em"></div>
<label id="lab1" >----</label>
<script src="~/assets/js/test.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
